@import url(./main.scss);
@import url(./origin.scss);

.app-container {
  padding: 20px;
  margin: 0;
}

.color-status-1 {
  color: #1565c0;
}
.color-status-2 {
  color: #000000;
}
.color-status-3 {
  color: #ffffff;
}
.color-status-4 {
  color: #ff5252;
}
.color-status-5 {
  color: #ffe57f;
}

.color-common-1 {
  color: #ffffff;
}
.color-common-2 {
  color: #e6ee9c;
}
.color-common-3 {
  color: #aed581;
}
.color-common-4 {
  color: #66bb6a;
}
.color-common-5 {
  color: #dcedc8;
}
