@import url(./main.scss);
@import url(./origin.scss);

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;

  --color-blue: #1565c0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff5252;
  --color-yellow: #ffe57f;

  --color-common: #e6ee9c;
  --color-common2: #aed581;
  --color-common3: #66bb6a;
  --color-common4: #dcedc8;
  --color-common5: #42b983;
}

.app-container {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}
