@import url(./main.scss);
@import url(./origin.scss);

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;

  --color-blue: #1565c0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff5252;
  --color-yellow: #ffe57f;
  --color-green: rgb(56, 143, 80);
}

.app-container {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

.common-text-btn {
  padding: 0 15px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}
.common-text-btn:hover {
  background-color: rgba(221, 221, 221, 0.3);
}
.common-text-btn-selected {
  background-color: rgba(221, 221, 221, 0.2);
}
